<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <app-contact></app-contact>
            <app-academictraining></app-academictraining>
            <app-projects></app-projects>
            <app-programminglanguages></app-programminglanguages>
        </div>
        <div class="col-sm-8">
            <app-profile></app-profile>
            <app-workexperience></app-workexperience>
            <app-courses></app-courses>
        </div>
    </div>
    <app-footer></app-footer>
</div> 