<div class="footer text-center">
            <div class="row align-items-center">
                <div class="col">
                    <a>
                        <img class="logo" src="./assets/img/logo.png"
                            alt="Logo de la institucion 713 Juan Abdala Chayep">
                    </a>
                </div>
                <div class="col">
                    <h3 class="align-bottom">{{academicTraining[0].organizacion}}</h3>
                </div>
                <div class="col">
                    <p>Practica Profesionalizante</p>
                </div>
                <div class="col">
                    <p>{{contact.mail}}</p>
                </div>
</div>